{% set currentPath = app.request.attributes.get('_route') %}
{# {{ dump(currentPath) }} #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('company_index', {  }) }}">Navbar</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == 'company_index' %} active {% endif %}"
                       aria-current="page"
                       href="{{ path('company_index', {  }) }}">
                        Company
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == 'company_new' %} active {% endif %}"
                       href="{{ path('company_new', {  }) }}">Create Company</a>
                </li>

            </ul>


            <ul class="navbar-nav ms-auto flex-nowrap">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a href="{{ path('account', {  }) }}" class="nav-link m-2 menu-item">
                            Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout', {  }) }}" class="nav-link m-2 menu-item">
                            Logout
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link mt-2 {% if currentPath == 'app_register' %} active {% endif %}"
                           href="{{ path('app_register', {  }) }}">
                            <i class="fa fa-registered"></i> Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_login', {  }) }}" class="nav-link m-2 mt-2 {% if currentPath == 'app_login' %} active {% endif %}">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>


    </div>
</nav>